includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_::]#'
        - '#Access to an undefined property App\\Http\\Resources\\[a-zA-Z0-9::a-zA-Z]#'

    level: 5
